<!doctype html>
<html ng-app>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>	
	<script src="lib/ui-bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css" media="screen">
</head>
<script>
	function WikiCtrl($scope){
		$scope.getDataForWord= function(searchName){
			var x = $.ajax({
				url: 'http://en.wikipedia.org/w/api.php',
				data: {
					action:'query',
					titles:searchName,
					prop:"revisions",
					rvprop:"content",
					format:'json'
				},
				dataType:'jsonp',
				success: function(data) {
					var recievedData;
					for (var pageId in data.query.pages) {
						if (data.query.pages.hasOwnProperty(pageId)) {
							recievedData = data.query.pages[pageId].revisions[0]['*'];
							//console.log('title ',data.query.pages[pageId].title,'data ',recievedData);
						}
					}
					if (recievedData.indexOf('REDIRECT')!=-1){
						var start = recievedData.indexOf('[[')+2;
						var end = recievedData.indexOf(']]');
						$scope.getDataForWord(recievedData.slice(start,end));
					}
					else if(recievedData) {
						$scope.data[0] = recievedData;
						$scope.data[1] = recievedData;
						$scope.nameReal[0] = searchName;	
						$scope.nameReal[1] = searchName;						
					}
					$scope.$apply();
				}
			});
		}
		$scope.processString = function(searchString){
		
		}
	}
</script> 

<body ng-controller="WikiCtrl">
	<h1> WikiDownloader</h1>
	<span>
		<button popover-placement="top" popover="On the Top!" class="btn">Top</button>
		
		<button ng-click="getData()">Search</button>
		<h2>Searching for: {{nameReal}}</h2>
	</span>
	<span>
		<textarea type="text" ng-change = "getDataForWord(text); " ng-model="text"></textarea>
		<table ng-init= "data = {};nameReal = {}">
			<tr>
				<td ng-repeat="datum in data">
					<!--h2>Searching for: {{nameReal[number]}}</h2-->
					<p>Data Recieved: {{datum}}</p>
				</td>
			</tr>
		</table>
	</span>
	
</body>
</html>